@media (min-width: 768px) {
    #menu-button {
        display: none;
    }
    
    nav {
        display: block;
        background-color: #333;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    nav li {
        margin: 0 20px;
    }
}

